body {
    background-image: url(https://c.tenor.com/VLao5JKHOEwAAAAC/chamber-valorant-valorant-chamber.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
.container{

    width: 80%;
    margin:auto;
   
}

h1{
    text-align: center;
    color: #fff;
    font-weight: bolder;
    font-size: 2em;
}
h2{
    text-align: center;
    color: #fff;
    font-weight: bolder;
    font-size: 2em;
}
h3{
    text-align: center;
    color: #fff;
    font-weight: bolder;
    font-size: 2em;
}
h4{text-align: center;
    color: #fff;
    font-weight: bolder;
    font-size: 2em;
}
h5{text-align: center;
    color: #fff;
    font-weight: bolder;
    font-size: 2em;
}
h6{ text-align: right;
    color: #fff;
    font-weight: bolder;
    font-size: 1em;
}
.img_corpo{
    width:40%;
}

figure{
    text-align: center;
}

.img_topo{
    width: 100%;
}

p{
   font-size: 1.5em; 
   color:rgb(255, 255, 255);
   font-weight: bold;
   text-indent: 50px;
   text-align: justify;
}
p1{font-size: 1.5em; 
    color:rgb(255, 255, 255);
    font-weight: bold;
    text-indent: 50px;
    text-align: justify;
    text-align: center;
}
.coisinha{
    text-align: center;
}
.audio{
    margin-right: -100%;
    
}
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
    background-color: rgb(221, 43, 67);
  color:skyblue;
footer{
    background-color: rgb(221, 43, 67);
    padding-top: 0.6%;
    padding-bottom: 2%;
    font-size: 1.5em; 
   
   text-align: justify;
}
.botao{
        background-color: #ff0707; /* Green */
        border: none;
        color: white;
        padding: 12px 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 25px;
        
        
      }
      .botao {
        text-shadow: 2px 2px 5px rgb(0, 0, 0);
      }
      
      .botao {
        margin: auto;
        width: 8%;
        border: 3px solid rgb(0, 0, 0);
        padding: 10px;
      }
      .botao {border-radius: 8px;}
.botao p{
    text-indent: 0;
    text-align: center;
    font-size: 1.3em;
}

.botao a:link, .botao a:visited{
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}

.botao:hover{
    background-color: #ec3c3c;
    text-align: center;
}