body {
    background-image: url(https://c.tenor.com/VLao5JKHOEwAAAAC/chamber-valorant-valorant-chamber.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.container_descer{

text-align: left;

}